body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.content-item {
    width: 100%;
    display: flex;
}
.img {
    margin: 0 10px;
}
.img img {
    width: 250px;
}
.noidung .title {
    font-weight: 600;
}